Package: com.shepgoba.settingswidgets
Name: SettingsWidgets
Depends: mobilesubstrate, preferenceloader
Version: 1.2
Architecture: iphoneos-arm
Description: Bring good looking widgets to the front page of settings!
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
