Package: com.shepgoba.settingswidgets
Name: SettingsWidgets
Depends: mobilesubstrate, preferenceloader
Description: Bring good looking widgets to the front page of settings!
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
Architecture: iphoneos-arm64
Version: 1.2.3-65+debug
Installed-Size: 592
